div:where(.au-code) {
  padding: 10px;
  border-radius: 8px;
  background-color: #000;
  overflow: hidden;
}

div:where(.au-code-line) {
  width: 100%;
  height: 16px;
  line-height: 16px;

  color: #fff;
  font-size: 14px;

  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.au-start-code {
  color: #a17bbb;
}

.au-code-cell {
  // color: #b6b276;
  color: #3d94d0;
  line-height: 20px;
  margin-inline-end: 10px;
}

.au-code-cell {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-inline-end: 10px;
}

.au-code-cell-op-type,
.au-code-cell-op-import{
  color: #a77fbb;
}