.au-tab {
  &>.header {
    display: flex;
    gap: 16px;
    font-size: 15px;
    color: var(--title-color);
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: var(--border);
    letter-spacing: .5px;
    transition: all .6s;
    letter-spacing: 1px;
    
    .disabled {
      cursor: not-allowed;
      color: var(--disabled-color);
    }

    .select:not(.disabled),
    div:hover:not(.disabled) {
      color: var(--color);
    }
  }
}

.night-theme .au-tab {
  &>.header {
    color: rgba(255, 255, 255, .9);
  }
}