@import '@/theme/variable.css';
@import '@/style/throttle.less';

.au-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: baseline;

  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  margin: 0;

  color: #000000d9;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;

  border-radius: 2px;
  border: 1px solid #d9d9d9;
  border-radius: var(--border-radius);

  background-image: none;
  background: #fff;

  cursor: pointer;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  user-select: none;
  touch-action: manipulation;
  animation: throttle .3s step-end forwards;

  &:active {
    animation: none;
  }
}

.au-btn-primary {
  color: #fff;
  border-color: var(--color);
  background: var(--color);

  &:active,
  &:hover {
    border-color: var(--hover-color);
    background-color: var(--hover-color);
  }

}

.au-btn-text {
  border: none;
  background: none;

  &:disabled,
  &:hover,
  &:active {
    background: transparent;
  }
}

.au-btn-default {

  &:hover,
  &:active {
    color: var(--color);
    border-color: var(--color);
  }

}


.au-btn:disabled {
  cursor: not-allowed;
  color: var(--disabled-color);
  background: var(--disabled-bg-color);
  border-color: var(--disabled-border-color);

  &.au-btn-text {
    background-color: #fff;
  }
}