@import '@/theme/variable.css';
@import '@/style/throttle.less';

@border-radius: var(--au-border-radius);

.au-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  height: 32px;
  padding: 0 15px;
  margin: 0;

  color: #000000d9;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;

  border-radius: 2px;
  border: 1px solid #d9d9d9;
  border-radius: @border-radius;

  background-image: none;
  background: #fff;

  cursor: pointer;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  user-select: none;
  touch-action: manipulation;
  animation: throttle .3s step-end forwards;

  &:active {
    animation: none;
  }
}

.au-btn:disabled {
  cursor: not-allowed;
  color: var(--disabled-color);
  background: var(--disabled-bg-color);
  border-color: var(--disabled-border-color);
}

@disabled-color: var(--au-disabled-color);
@primary-bg-color: var(--au-primary-bg-color);
@primary-bg-color-hover: var(--au-primary-bg-color-hover);

.au-btn-primary {
  color: var(--au-primary-color);
  border-color: @primary-bg-color;
  background: @primary-bg-color;

  &:active,
  &:hover {
    border-color: @primary-bg-color-hover;
    background-color: @primary-bg-color-hover;
  }

}

.au-btn-text {
  border: none;
  background: none;

  &:disabled,
  &:hover,
  &:active {
    background: transparent;
  }
}

.au-btn-default {

  &:hover,
  &:active {
    color: var(--au-default-color);
    border-color: @primary-bg-color-hover;
  }

}