.au-message-box {
  --color-success: #52c41a;
  --color-warning: #faad14;
  --color-error: #ff4d4f;
  --color-info: #1677ff;
  position: fixed;
  inset: 30px 0 auto;
  text-align: center;
  pointer-events: none;
  z-index: 99999;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  .au-message {
    display: inline-block;
    padding: 8px 24px 8px 24px;
    border: 2px solid rgba(255, 255, 255, .8);
    background-color: #000;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 9px 28px 8px rgba(0, 0, 0, 0.05);
    border-radius: 12px;

    &.success {
      border-color: var(--color-success);
    }

    &.warning {
      border-color: var(--color-warning);
    }

    &.error {
      border-color: var(--color-error);
    }

    &.info {
      border-color: var(--color-info);
    }

    .au-message-icon {
      font-size: 32px;
      height: 24px;
      line-height: 24px;
      margin-inline-end: 8px;
    }

    .content {
      vertical-align: top;
      font-size: 14px;
      text-align: start;
      line-height: 24px;
    }
  }
}

.light-theme .au-message-box {
  .au-message {
    color: #000;
    background-color: #fff;
    border: none;
  }
}