.au-message-box {
  --color-success: #52c41a;
  --color-warning: #faad14;
  --color-error: #ff4d4f;
  --color-info: #1677ff;
  position: fixed;
  left: 0;
  right: 0;
  top: 30px;
  margin: auto;
  text-align: center;
  pointer-events: none;
  z-index: 999;

  .au-message {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 8px 24px 8px 24px;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, .8);
    background-color: #000;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 9px 28px 8px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    font-size: 12px;
    margin-bottom: 10px;
    z-index: 1000;

    &.success {
      border-color: var(--color-success);
    }

    &.warning {
      border-color: var(--color-warning);
    }

    &.error {
      border-color: var(--color-error);
    }

    &.info {
      border-color: var(--color-info);
    }

    .icon {
      height: 32px;
      font-size: 16px;
      line-height: 32px;
    }

    .content {
      height: 32px;
      line-height: 30px;
    }
  }
}

.light-theme .au-message-box {
  .au-message {
    color: #000;
    background-color: #fff;
    border: none;
  }
}