@import url(../style/flex.less);

:where(.au-checkbox) {
  display: inline-block;
  min-height: 32px;
  .flexCenter();
  cursor: pointer;

  input[type=checkbox] {
    width: 16px;
    height: 16px;
    inset: 0;
    z-index: 1;
    margin-left: 8px;
    margin-inline-start: 8px;
    cursor: pointer;
  }

  input[type=checkbox]:checked::after {
    content: "";
    background-color: #037DF3;
    border-color: #037DF3;
    background-color: #037DF3;
  }

  input[type=checkbox] {
    cursor: pointer;
    position: relative;
  }

  input[type=checkbox]::after {
    position: absolute;
    top: 0;
    background-color: #fff;
    color: #fff;
    width: 14px;
    height: 14px;
    display: inline-block;
    visibility: visible;
    padding-left: 0px;
    text-align: center;
    content: ' ';
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid #ddd;
  }

  input[type=checkbox]:checked::after {
    content: "";
    background-color: #037DF3;
    border-color: #037DF3;
    background-color: #037DF3;
  }

  input[type=checkbox]:checked::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    z-index: 1;
  }

  label {
    margin: 0 8px;
    cursor: pointer;
  }
}