.au-textarea {
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  padding: 6px 8px;
  border-radius: 8px;
  width: 100%;
  font-size: 15px;
  line-height: 24px;
  resize: none;
  overflow: hidden;

  &.isHover,
  &:focus,
  &:hover,
  &:active {
    border-color: #4989e7;
    box-shadow: #4989e7 0 0 3px;
  }
}

.night-theme .au-textarea {
  color: #fff;
  background: rgba(0, 0, 0, .2);
}