  input,
  textarea,
  :where(.au-input) {
    background: transparent;
    color: rgba(0, 0, 0, .9);
  }

  .night-theme {

    input,
    textarea,
    :where(.au-input) {
      color: rgba(255, 255, 255, .9);
    }
  }