:root {
  --rh-border-radius: 8px;

  --rh-primary-color: #ffffff;
  --rh-primary-bg-color: #1890ff;
  --rh-default-color: #1890ff;
  --rh-primary-bg-color-hover: #40a9ff;
  --rh-primary-color-active: #096dd9;
	--rh-disabled-color: #f5f5f5;
  /* --rh-primary-color-outline: rgba(24, 144, 255, .2); */

  --rh-primary-1: #e6f7ff;
  --rh-primary-2: #bae7ff;
  --rh-primary-3: #91d5ff;
  --rh-primary-4: #69c0ff;
  --rh-primary-5: #40a9ff;
  --rh-primary-6: #1890ff;
  --rh-primary-7: #096dd9;
  --rh-primary-color-deprecated-l-35: #cbe6ff;
  --rh-primary-color-deprecated-l-20: #7ec1ff;
  --rh-primary-color-deprecated-t-20: #46a6ff;
  --rh-primary-color-deprecated-t-50: #8cc8ff;
  --rh-primary-color-deprecated-f-12: rgba(24, 144, 255, .12);
  --rh-primary-color-active-deprecated-f-30: rgba(230, 247, 255, .3);
  --rh-primary-color-active-deprecated-d-02: #dcf4ff;
  --rh-success-color: #52c41a;
  --rh-success-color-hover: #73d13d;
  --rh-success-color-active: #389e0d;
  --rh-success-color-outline: rgba(82, 196, 26, .2);
  --rh-success-color-deprecated-bg: #f6ffed;
  --rh-success-color-deprecated-border: #b7eb8f;
  --rh-error-color: #ff4d4f;
  --rh-error-color-hover: #ff7875;
  --rh-error-color-active: #d9363e;
  --rh-error-color-outline: rgba(255, 77, 79, .2);
  --rh-error-color-deprecated-bg: #fff2f0;
  --rh-error-color-deprecated-border: #ffccc7;
  --rh-warning-color: #faad14;
  --rh-warning-color-hover: #ffc53d;
  --rh-warning-color-active: #d48806;
  --rh-warning-color-outline: rgba(250, 173, 20, .2);
  --rh-warning-color-deprecated-bg: #fffbe6;
  --rh-warning-color-deprecated-border: #ffe58f;
  --rh-info-color: #1890ff;
  --rh-info-color-deprecated-bg: #e6f7ff;
  --rh-info-color-deprecated-border: #91d5ff;
  --docsearch-primary-color: #5468ff;
  --docsearch-text-color: #1c1e21;
  --docsearch-spacing: 12px;
  --docsearch-icon-stroke-width: 1.4;
  --docsearch-highlight-color: var(--docsearch-primary-color);
  --docsearch-muted-color: #969faf;
  --docsearch-container-background: rgba(101, 108, 133, .8);
  --docsearch-logo-color: #5468ff;
  --docsearch-modal-width: 560px;
  --docsearch-modal-height: 600px;
  --docsearch-modal-background: #f5f6f7;
  --docsearch-modal-shadow: inset 1px 1px 0 0 hsla(0, 0%, 100%, .5), 0 3px 8px 0 #555a64;
  --docsearch-searchbox-height: 56px;
  --docsearch-searchbox-background: #ebedf0;
  --docsearch-searchbox-focus-background: #fff;
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);
  --docsearch-hit-height: 56px;
  --docsearch-hit-color: #444950;
  --docsearch-hit-active-color: #fff;
  --docsearch-hit-background: #fff;
  --docsearch-hit-shadow: 0 1px 3px 0 #d4d9e1;
  --docsearch-key-gradient: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
  --docsearch-key-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff, 0 1px 2px 1px rgba(30, 35, 90, .4);
  --docsearch-footer-height: 44px;
  --docsearch-footer-background: #fff;
  --docsearch-footer-shadow: 0 -1px 0 0 #e0e3e8, 0 -3px 6px 0 rgba(69, 98, 155, .12);
}