:root {
  /* 主色调 */
  --color: #108ee9;
  --hover-color: #40a9ff;
  --error-color: #ff4d4f;
  --border-radius: 8px;

  --title-color: rgba(0, 0, 0, .88);
  /* 禁用状态色 */
  --disabled-color: rgba(0, 0, 0, .25);
  --disabled-night-color: rgba(255, 255, 255, .6);
  --disabled-bg-color: #f5f5f5;
  --disabled-border-color: #d9d9d9;
  --night-disabled-bg-color: rgba(255, 255, 255, .3);
  /* 主边框 */
  --border: 1px solid #e9e9e9;
  /* 主圆角 */
  /* --border-radius: 12px; */
  /* 控件圆角 */
  --control-border-radius: 8px;
  /* 主背景色 */
  --background: rgb(250, 250, 250);
  /* 主背景色(半透明度) */
  --half-background: rgba(250, 250, 250, .5);
  /* hover背景色 */
  --hover-background: rgba(250, 250, 250, .9);

  --line-height: 24px;

  /* 控件尺寸 */
  --size-small: 24px;
  --size-default: 32px;
  --size-large: 40px;

  /* 尺寸 */
  --size-s: 100px;
  --size-m: 150px;
  --size-l: 200px;
  --size-xl: 400px;
  --size-xxl: 800px;
  --size-xxxl: 1200px;

  --wh-1: rgba(255, 255, 255, .1);
  --wh-2: rgba(255, 255, 255, .2);
  --wh-3: rgba(255, 255, 255, .3);
  --wh-4: rgba(255, 255, 255, .4);
  --wh-5: rgba(255, 255, 255, .5);
  --wh-6: rgba(255, 255, 255, .6);
  --wh-7: rgba(255, 255, 255, .7);
  --wh-8: rgba(255, 255, 255, .8);
  --wh-9: rgba(255, 255, 255, .9);
  --wh: rgb(255, 255, 255);

  --bl: rgb(0, 0, 0);
  --bl-1: rgba(0, 0, 0, .1);
  --bl-2: rgba(0, 0, 0, .2);
  --bl-3: rgba(0, 0, 0, .3);
  --bl-4: rgba(0, 0, 0, .4);
  --bl-5: rgba(0, 0, 0, .5);
  --bl-6: rgba(0, 0, 0, .6);
  --bl-7: rgba(0, 0, 0, .7);
  --bl-8: rgba(0, 0, 0, .8);
  --bl-9: rgba(0, 0, 0, .9);
}

:root.night-theme {
  --background: rgb(15, 15, 15);
  --half-background: rgba(15, 15, 15, .5);
  --hover-background: rgba(15, 15, 15, .9);
  --border: 1px solid rgba(255, 255, 255, .3);

  --title-color: rgba(255, 255, 255, .88);
  /* 禁用状态色 */
  --disabled-color: rgba(255, 255, 255, .25);
}