.au-background {

  position: relative;
  width: 400px;
  height: 400px;
  z-index: 1;
  overflow: hidden;
  border-radius: 40px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, .4);
  transition: box-shadow ease-in-out .4s;

  &:hover,
  &:active,
  &:focus {
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .4),
      0px 8px 12px rgba(0, 0, 0, .3);
  }

  &-content {
    position: absolute;
    width: 400px;
    height: 400px;
    padding: 40px;
    box-sizing: border-box;
    // box-shadow: inset 0px 0px 40px rgba(0, 0, 0, .8), 0px 8px 20px rgba(0, 0, 0, .6);
  }

  &::after {
    content: '';
    position: absolute;
    top: -100px;
    right: -100px;
    bottom: -100px;
    left: -100px;
    background: conic-gradient(from 180deg at 50% 50%, #12001B -97.5deg, #000000 14.05deg, #040EFF 54.01deg, #8000FF 113.42deg, #00B6B6 185.62deg, #12001B 262.5deg, #000000 374.05deg);
    filter: blur(60px) brightness(1.5);
    z-index: -1;
    animation: 30s move linear infinite;
  }

  @keyframes move {
    from {
      transform: rotate(180deg);
    }

    to {
      transform: rotate(540deg);
    }
  }

}