.u-cron-select {
  .qnn-react-cron>.footer {
    display: none;
  }
}

.u-cron-view {
  align-items: center;
  // color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.04);
  border: 1px solid #d9d9d9;
  min-height: 28px;
  padding: 3px 7px;
  border-radius: 8px;
  cursor: pointer;
}

.u-cron-select-modal {
  .hasError {
    border-color: #ff4d4f;
  }

  .hasError-warning {
    color: #ff4d4f;
  }
}