.night-theme .au-paging {
  &>div {
    background-color: rgba(255, 255, 255, .2);
    border-color: rgba(255, 255, 255, .2);

    &.pageSize-select {
      background-color: transparent;
    }

    &.goto,
    &.total {
      background-color: transparent;
    }
  }
}