@import url(@/style/scrollbar.less);

@select-border-radius: 4px;

.au-select {
  width: 100%;
  position: relative;
  box-sizing: border-box;

  &-input {
    width: 100%;
    padding: 0 6px;
    border-radius: @select-border-radius;
    border: 1px solid #d9d9d9;
    line-height: 32px;
    min-height: 32px;

    &-placeholder {
      line-height: 26px;
      color: rgb(117, 117, 117);
    }

    & input {
      background: transparent;
      display: inline-block;
      outline: none;
      border: none;
      text-overflow: ellipsis;
      box-sizing: border-box;
      margin: 0;
      font-size: 14px;
      line-height: 1.6;
      list-style: none;
      width: 100%;
      cursor: pointer;
      color: #fff;
    }

    &.isHover,
    &:focus,
    &:hover,
    &:active {
      border-color: #4989e7;
      box-shadow: #4989e7 0 0 3px;
    }
  }

  &-multi-input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2px 6px;
    max-width: 100%;
    min-height: 32px;
    line-height: 32px;
    padding: 2px 6px;

    box-sizing: border-box;

    .au-select-item {
      display: inline-flex;
      height: 24px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      gap: 6px;
      border: 1px solid rgba(255, 255, 255, .4);
      padding: 0 6px;
      border-radius: 4px;
      white-space: nowrap;

      &>span {
        background: rgba(0, 0, 0, .06);
        font-size: 12px;

      }

      .icon-close {
        // display: none;
        color: #919191;
        display: flex;
        align-items: center;
      }
    }

    &:hover {
      .icon-close {
        display: flex;
      }
    }

    &>input {
      width: auto;
      max-width: 100%;
      padding: 4px 0 4px 4.5px;
    }

    &.isHover>input {
      margin-left: 2px;
      min-width: 40px;
      display: inline-block;
    }
  }



  /*** hidden start ***/
  &.hidden {
    background-color: #f5f5f5;
    cursor: not-allowed;
  }

  &.hidden>&-input {
    border-color: #d9d9d9;
    cursor: not-allowed;

    & input {
      cursor: not-allowed;
    }

    &.isHover,
    &:focus,
    &:hover,
    &:active {
      box-shadow: none;
    }
  }

  /*** hidden end ***/
}

.au-select-options {
  position: fixed;
  box-sizing: border-box;
  z-index: 99;
  border: none;
  overflow-y: auto;
  max-height: 300px;

  padding: 6px;
  margin-top: 4px;
  border-radius: @select-border-radius;
  box-shadow: 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 3px 6px -4px rgb(0 0 0 / 12%),
    0 9px 28px 8px rgb(0 0 0 / 5%);

  width: 100%;
  transition: height .6s ease-in-out;
  background: #fff;

  .scrollbar(rgb(158, 158, 158));

  &-item {
    box-sizing: border-box;
    padding: 8px 8px;
    border-radius: @select-border-radius;
    margin-bottom: 3px;
    cursor: pointer;
    transition: all .6s;

    &:hover {
      background: rgba(255, 255, 255, .1);
    }

    &.selected {
      background: rgba(255, 255, 255, .4);
    }
  }
}