.night-theme .au-select {
  &-options {
    background: rgba(0, 0, 0, .95);
    box-shadow: 0 6px 16px 0 rgba(255, 255, 255, 0.08),
      0 3px 6px -4px rgba(255, 255, 255, 0.12),
      0 9px 28px 8px rgba(255, 255, 255, 0.05);
    border: 1px solid #d9d9d9;

    &-item {

      // &:hover,
      // &.selected {
      //   background: rgba(255, 255, 255, .2);
      // }

      &:hover {
        background: rgba(255, 255, 255, .2);
      }

      &.selected {
        background: rgba(255, 255, 255, .4);
      }
    }
  }

  &.hidden {
    color: rgba(255, 255, 255, .6);
    border-color: rgba(255, 255, 255, .3);
    background: rgba(255, 255, 255, .1);
  }

  &.hidden>&-input {
    color: rgba(255, 255, 255, .6);
    border-color: rgba(255, 255, 255, .3);
    background: rgba(255, 255, 255, .1);
  }
}