.night-theme .au-select {
  &-options {
    background: #0F0F0F;

    &-item {

      &:hover,
      &.selected {
        background: rgba(255, 255, 255, .2);
      }
    }
  }

  &.hidden {
    color: rgba(255, 255, 255, .6);
    border-color: rgba(255, 255, 255, .3);
    background: rgba(255, 255, 255, .1);
  }

  &.hidden>&-input {
    color: rgba(255, 255, 255, .6);
    border-color: rgba(255, 255, 255, .3);
    background: rgba(255, 255, 255, .1);
  }
}