@import '@/theme/variable.css';

.au-btn {
  color: #000000d9;
  border-radius: 8px;

  &.au-btn-primary {
    --ripple-bg: #87c9ff70;
    --hover-bg: var(--hover-color);
    color: #fff;
    background: var(--color);
    border: none;
    box-shadow: 0 0 1px var(--color);
  }

  &.au-btn-danger {

    --ripple-bg: rgba(255 255 255 / 20%);
    --hover-bg: rgba(247, 74, 73, .8);
    color: #fff;
    background: rgb(247, 74, 73);
    border: none;
    box-shadow: 0 0 1px rgb(247, 74, 73);

  }

  &.au-btn-default {
    --ripple-bg: #87c9ff30;
    --hover-color: var(--color);
    --hover-border-color: var(--color);
    color: #000000d9;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 .5px #d9d9d9;

    &:not(.disabled) {

      &:active,
      &:hover {
        color: var(--color);
        box-shadow: 0 0 1px var(--color);
        border-color: var(--color);
      }
    }

    &.disabled {
      filter: none;
      color: rgb(217, 217, 217);
      background-color: rgb(245, 245, 245);
      border-color: rgb(217, 217, 217);
    }
  }
}