.night-theme {

  .au-btn.au-btn-default {
    color: rgba(255, 255, 255, .9);
    // background: rgba(255, 255, 255, .2);
    background: transparent;
    border-color: rgba(255, 255, 255, .6);

    &:not(.disabled) {

      &:active,
      &:hover {
        color: var(--color);
        box-shadow: 0 0 1px var(--color);
        border-color: var(--color);
      }
    }

    // &:not(.disabled):hover {
    //   background: rgba(255, 255, 255, .1);
    // }
  }
}