.night-theme {

  .au-btn.au-btn-default {
    color: rgba(255, 255, 255, .9);
    background: transparent;
    border-color: rgba(255, 255, 255, .6);

    &:not(.disabled) {

      &:active,
      &:hover {
        color: var(--color);
        box-shadow: 0 0 1px var(--color);
        border-color: var(--color);
        background: rgba(24, 71, 116, .5);
      }
    }

    &.disabled {
      filter: brightness(.5);
    }

  }
}