* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  letter-spacing: 0.5px;
}

:root {
  --height: 32px;
}

.hidden {
  visibility: hidden !important;
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
  position: fixed;
}

.none {
  display: none !important;
}

.au-element-disabled {
  cursor: not-allowed;
  filter: brightness(.7);
}

p,
li {
  min-height: var(--line-height);
  line-height: var(--line-height);
}

ol,
ul {
  padding-left: 18px;
}