* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // text-shadow: 0px 2px 4px rgba(0, 0, 0, .1);
}

:root {
  --height: 32px;
}

.hidden {
  visibility: hidden !important;
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
  position: fixed;
}

.none {
  display: none !important;
}

p,
li {
  min-height: var(--line-height);
  line-height: var(--line-height);
}

ol,
ul {
  padding-left: 18px;
}