.au-pie-half {
  // --s: 100px;
  position: relative;
  width: var(--s);
  height: calc(var(--s)/2);
  background-color: #E14140;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 3px;

  &>span {
    display: inline-block;
    color: #fff;
    font-weight: bold;
  }

  font-size: calc(var(--s)/12);

  &-split {
    font-size: calc(var(--s)/15);
    margin-bottom: calc(var(--s)/100 + 1px);
  }

  &-value {
    font-size: calc(var(--s)/8);
    margin-bottom: calc(var(--s)/100 + 1px);
  }

  .rang,
  .value {
    position: absolute;
    top: 0;
    width: var(--s);
    height: var(--s);
    background-color: transparent;
    border-radius: 50%;
    border: calc(var(--s)/10) solid;
    // bottom: -var(--s);
  }

  .rang {
    text-align: center;
    border-color: #B93738;
  }

  .value {
    border-color: #fff;
    border-right-color: transparent;
    border-top-color: transparent;

    transform: rotate(-45deg);
  }
}